package com.test.dtos;

import java.util.*;
import java.time.*;   // 👈 Import para LocalDate y LocalDateTime

public class {{ class_name }}Dto {

{% for attr in attributes %}
    private {{ attr.type }} {{ attr.name }};
{% endfor %}

{% for attr in attributes %}
    public {{ attr.type }} get{{ attr.name[0]|upper }}{{ attr.name[1:] }}() {
        return {{ attr.name }};
    }

    public void set{{ attr.name[0]|upper }}{{ attr.name[1:] }}({{ attr.type }} {{ attr.name }}) {
        this.{{ attr.name }} = {{ attr.name }};
    }
{% endfor %}
}
